{% extends 'base.html' %}

{% block content %}
<h1>Products</h1>
<div class="row">
    {% for produto in produtos %}
    <div class="col-md-4 mb-3">
        <div class="card">
            <img src="{{ produto.image.url }}" class="card-img-top" alt="{{ produto.name }}">
            <div class="card-body">
                <h5 class="card-title">{{ produto.name }}</h5>
                <a href="{% url 'details' produto.id %}" class="btn btn-primary">Details</a>

            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}